body {
  background-color: rgb(236, 236, 236);
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imc-table {
  background-color: white;

  width: 70%;
  border-radius: 10px;

  overflow-y: hidden;
  overflow-x: auto;
}

.backdrop {
  display: none;
  position: absolute;
  left: 0; 
  right: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(46, 46, 46, 0.7);
}

#form-adiciona {
  display: none;
  position: absolute;
  padding: 30px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;

  width: 70vh;
  border-radius: 10px;
}

.table-header {
  font-weight: bold;
  text-transform: uppercase;

  border-bottom: 3px solid rgb(85, 209, 60);
}

th {
  padding: 20px;
}

.table-row:last-child {
  border-radius: 8px;
}

td {
  padding: 30px;
}

td:not(:last-child) {
  border-right: 0.5px dotted rgba(61, 173, 39, 0.3);
}

.table-row:nth-child(even) {
  background-color: rgb(85, 209, 60);
}

.info-nome, .info-peso, .info-altura, .info-gordura, .info-imc {
  text-align: center;
}

#titulo-form {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(85, 209, 60);
  margin-bottom: 15px;
}

.grupo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.botao {
  margin-top: 25px;

  cursor: pointer;

  color: white;
  background-color: rgb(85, 209, 60);
  font-weight: bold;
  font-size: 1.5rem;

  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

input {
  border: none;
  background-color: rgb(202, 255, 206);
  padding: 5px;
  width: 70%;
}