body {
  background-color: rgb(236, 236, 236);
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imc-table {
  background-color: white;

  width: 70%;
  border-radius: 10px;
  -moz-border-radius: 10x;
  -webkit-border-radius: 10px;

  overflow-y: hidden;
  overflow-x: auto;
}

.table-header {
  font-weight: bold;
  text-transform: uppercase;

  border-bottom: 3px solid rgb(85, 209, 60);
}

th {
  padding: 20px;
}

td {
  padding: 30px;
}

td:not(:last-child) {
  border-right: 0.5px dotted rgba(61, 173, 39, 0.3);
}

.table-row:nth-child(even) {
  background-color: rgb(85, 209, 60);
}

.info-nome, .info-peso, .info-altura, .info-gordura, .info-imc {
  text-align: center;
}

.tabela-pacientes {
  cursor: pointer;
}

#titulo-form {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(85, 209, 60);
  margin-bottom: 15px;
}

.grupo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.botao {
  margin-top: 25px;

  cursor: pointer;

  color: white;
  background-color: rgb(85, 209, 60);
  font-weight: bold;
  font-size: 1.5rem;

  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}

.excluir {
  background-color: rgb(255, 45, 45);
}

input {
  border: none;
  border-radius: 5px;
  background-color: rgba(85, 209, 60, 0.1);
  padding: 8px;
  width: 70%;
}